{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}

{% block main %}
    <div class = "container-quote">

        <form action = "/login" method = "post">
            <input type="text" class="form-control mx-auto w-auto mt-20" placeholder = "Username" autocomplete= "off" autofocus name="username">
            <input type="password" class="form-control mx-auto w-auto mt-20" placeholder = "Password" autocomplete= "off" name="password">
            <button type="submit" class=" btn btn-outline-primary">Login</button>
        </form>


    </div>

{% endblock %}